* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.3em;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 40px;
  margin-bottom: 30px;
}
.logo img {
  width: 80px;
  height: 80px;
}

.container-line hr {
  background-color: #504f5c;
  height: 1px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-info-journal {
  background-image: url("../img/foto1.jpg");
  width: 350px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.content-info-journal a {
  text-decoration: none;
  color: #fff;
}
.content-info-journal a:hover {
  text-decoration: none;
}

.content-events {
  background-image: url("../img/foto2.jpg");
  width: 350px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.content-events a {
  text-decoration: none;
  color: #fff;
}
.content-events a:hover {
  text-decoration: none;
}

.second {
  margin-top: 20px;
}

.content-info-services {
  background-image: url("../img/foto4.jpg");
  width: 350px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.content-info-services a {
  text-decoration: none;
  color: #fff;
}
.content-info-services a:hover {
  text-decoration: none;
}

.contacto {
  background-color: #504f5c;
  width: 350px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.contacto a {
  text-decoration: none;
  color: #fff;
}
.contacto a:hover {
  text-decoration: none;
}

.content-portfolio {
  background-image: url("../img/foto4.jpg");
  width: 350px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.content-portfolio a {
  text-decoration: none;
  color: #fff;
}
.content-portfolio a:hover {
  text-decoration: none;
}

.NEWSLETTER {
  margin-top: 12px;
  color: #504f5c;
  border-bottom: 25px solid #504f5c;
  margin-bottom: 20px;
}

.icon-mail-alt {
  color: #504f5c;
  margin-right: 65px;
}

.contenedor-texto-newsletter .boton {
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

.contenedor-texto-newsletter .boton:hover {
  background: #504f5c;
  color: #fff;
}

/*----------------------------------------------
     ESTILOS PARA FOOTER
-------------------------------------------------*/
.contenedor-footer {
  border-bottom: 2px solid #504f5c;
  margin-top: 20px;
}

footer {
  float: right;
}

/*----------------------------------------------
   MEDIA QUERY HASTA LOS 560PX MOBILE 
-------------------------------------------------*/
@media screen and (max-width: 560px) {
  .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    margin: auto;
  }

  .NEWSLETTER {
    font-size: 1.3em;
  }

  .footer {
    margin-top: 10px;
  }

  .footer p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
