@mixin content {
    width: 350px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    a {

    text-decoration: none;
    color: #fff;
    }
    a:hover {
        text-decoration: none;
    }
}

